#grid {
    display: grid;
    grid-template-areas:    'a aa aaa'
                            'b bb bbb'
                            'c cc ccc';
    grid-template-columns: 180px auto 180px;
    grid-template-rows: 35px auto auto auto;
    grid-row-gap: 10px;
}
/*nustatomos ribos*/
.gra1 {
    grid-area: a;
}
.gra2 {
    grid-area: aa;
}
.gra3 {
    grid-area: aaa;
}
.gra4 {
    grid-area: b;

}
.gra5 {
    grid-area: bb;
}
.gra6 {
    grid-area: bbb;
}
.gra7 {
    grid-area: c;
}
.gra8 {
    grid-area: cc;
}
.gra9 {
    grid-area: ccc;
}

/**/

#smallgrid {
    display: grid;
    grid-template-areas: '. sg1 sg2 sg3 sg4 .';
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 5px;

}
.sgrid1{
    grid-area: sg1;
    background-color: #f7f7f7;
    border-radius: 2px;
    box-shadow: -2px 1px 5px darkgray;
    padding: 10px;

}
.sgrid2{
    grid-area: sg2;
    background-color: #f7f7f7;
    border-radius: 2px;
    box-shadow: -2px 1px 5px darkgray;
    padding: 10px;

}
.sgrid3 {
    grid-area: sg3;
    background-color: #f7f7f7;
    border-radius: 2px;
    box-shadow: -2px 1px 5px darkgray;
    padding: 10px;

}
.sgrid4 {
    grid-area: sg4;
    background-color: #f7f7f7;
    border-radius: 2px;
    box-shadow: -2px 1px 5px darkgray;
    padding: 10px;
}


.sgrid1, .sgrid2, .sgrid3, .sgrid4 {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Grido spalvos*/
.gra1,
.gra2,
.gra3 {
    background-color: #3d3d3d ;
    opacity: 0.9;
}

/**/
/*Grido formatavimas*/
.gra2 a {
    opacity: 1;
    color: #f7f7f7;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.gra2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;

}
body {
    background-image: url("img/bg05.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.gra1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.gra5 {
    background-color: #f7f7f7;
    opacity: 1;
    box-shadow: -2px 0px 5px black;
    padding: 10px;
    border-radius: 3px;

}
a:hover {
    COLOR: darkgray;
    TEXT-DECORATION: none;
}
.gra8,
.gra7,
.gra9 {
    background-color: #3d3d3d ;
    opacity: 0.9;
}
.gra8 {
    opacity: 1;
    color: #f7f7f7;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
