#grid {
    display: grid;
    grid-template-areas:    'a aa aaa'
                            'b bb bbb'
                            'c cc ccc';
    grid-template-columns: 180px auto 180px;
    grid-template-rows: 35px 1fr 30px;
    grid-row-gap: 10px;
    min-height: 100%;


}
/*nustatomos ribos*/
.gra1 {
    grid-area: a;
}
.gra2 {
    grid-area: aa;
}
.gra3 {
    grid-area: aaa;
}
.gra4 {
    grid-area: b;

}
.gra5 {
    grid-area: bb;
}
.gra6 {
    grid-area: bbb;
}
.gra7 {
    grid-area: c;
}
.gra8 {
    grid-area: cc;
}
.gra9 {
    grid-area: ccc;
}

/**/

#smallgrid {
    display: grid;
    grid-template-areas:  ' sg1   sg2  sg3 sg4 '
                          ' sg11 sg22 sg33 sg44 ';
    grid-template-columns: auto auto  auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 10px;

}
.sgrid1{
    grid-area: sg1;
    background-color: #f7f7f7;
    border-radius: 2px;
    /*box-shadow: -2px 1px 5px darkgray;*/
    padding: 10px;

}
.sgrid11{
    grid-area: sg11;
    background-color: #f7f7f7;
    border-radius: 2px;
    /*box-shadow: -2px 1px 5px darkgray;*/
    padding: 10px;

}
.sgrid2{
    grid-area: sg2;
    background-color: #f7f7f7;
    border-radius: 2px;
    /*box-shadow: -2px 1px 5px darkgray;*/
    padding: 10px;

}
.sgrid22{
    grid-area: sg22;
    background-color: #f7f7f7;
    border-radius: 2px;
    /*box-shadow: -2px 1px 5px darkgray;*/
    padding: 10px;

}
.sgrid3 {
    grid-area: sg3;
    background-color: #f7f7f7;
    border-radius: 2px;
    /*box-shadow: -2px 1px 5px darkgray;*/
    padding: 10px;
}
.sgrid33 {
    grid-area: sg33;
    background-color: #f7f7f7;
    border-radius: 2px;
    /*box-shadow: -2px 1px 5px darkgray;*/
    padding: 10px;

}
.sgrid4 {
    grid-area: sg4;
    background-color: #f7f7f7;
    border-radius: 2px;
    /*box-shadow: -2px 1px 5px darkgray;*/
    padding: 10px;

}
.sgrid44 {
    grid-area: sg44;
    background-color: #f7f7f7;
    border-radius: 2px;
    /*box-shadow: -2px 1px 5px darkgray;*/
    padding: 10px;

}
.sgrid1, .sgrid2, .sgrid3, .sgrid4 {
    display: flex;
    align-items: center;
    justify-content: center;
    }
.sgrid11, .sgrid22, .sgrid33, .sgrid44 {
    padding: 10px;
    text-align: center;
}

.sdw, .sdw1, .sdw2 {
    box-shadow: -2px 1px 5px darkgray;
}


/*Grido spalvos*/
.gra1,
.gra2,
.gra3 {
    background-color: #3d3d3d ;
    opacity: 0.9;
}

/**/
/*Grido formatavimas*/
.gra2 a {
    opacity: 1;
    color: #f7f7f7;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    TEXT-DECORATION: none;
}
.gra2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;

}
body {
    background-image: url("img/bg05.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.gra1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.gra5 {
    background-color: #f7f7f7;
    opacity: 1;
    box-shadow: -2px 0px 5px #383838;
    padding: 10px;
    border-radius: 3px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;

}
a:hover {
    COLOR: darkgray;
    TEXT-DECORATION: none;
}
a:visited {
    TEXT-DECORATION: none;
}
a:active {
    TEXT-DECORATION: none;
}

.gra8,
.gra7,
.gra9 {
    background-color: #3d3d3d ;
}
.gra8 {
    opacity: 1;
    color: #f7f7f7;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.bnr {
height: 400px;
    width: 100%;
    background-color: darkgray;
    /*shadow*/
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    /*----*/
    border-radius: 3px;
}
hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(175, 175, 175, 175.75), rgba(0, 0, 0, 0));
}
/**/
.sidenav {
    opacity: 0;
    width: auto;
    position: fixed;
    z-index: 2;
    top: 20px;
    left: 10px;
    overflow-x: hidden;
    padding: 5px 0px;
    padding-right: 10px;
    background-color: #3d3d3d ;
    margin-top: 100px;
    margin-left: 50px;
    border-radius: 20px;
    box-shadow: -2px 0px 5px grey;
    transition: 0.5s;

}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
    color: #f7f7f7;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;

}

